<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Personajes de Rick and Morty</h1>
  <input 
    type="text" 
    [(ngModel)]="searchName" 
    (input)="searchCharacters()" 
    placeholder="Buscar por nombre" 
    class="mb-4 p-2 border rounded"
  />
  
  <app-character-list [characters]="characters"></app-character-list>

  <div class="pagination mt-4">
    <button (click)="goToPreviousPage()" [disabled]="!prevPage" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Anterior</button>
    <button (click)="goToNextPage()" [disabled]="!nextPage" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Siguiente</button>
  </div>
</div>
